<!DOCTYPE html>
<html lang="en" style="width: 100vw">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>subscribe</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
  </head>
  <body
    class="text-center d-flex d-lg-flex flex-column justify-content-center align-items-center justify-content-lg-center"
    style="
      width: 100vw;
      background: linear-gradient(
          170deg,
          rgba(122, 186, 255, 0.25) 0%,
          var(--gray-dark) 99%
        ),
        url('https://images.unsplash.com/photo-1489976908522-aabacf277f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') top / cover no-repeat;
      height: 100vh;
    "
  >
    <div class="container" style="margin: 0; padding: 0">
      <div
        class="row d-flex d-lg-flex flex-column justify-content-lg-center align-items-lg-start"
        style="margin: 0; padding: 0px; padding-left: 0px"
      >
        <div
          class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center"
          style="padding: 0; width: 50%"
        >
          <div
            class="card d-flex justify-content-center align-items-center"
            style="
              padding: 0;
              margin: 0;
              border-radius: 0px;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              border-style: none;
              border-bottom-width: 0px;
              border-bottom-style: solid;
              background: var(--blue);
              width: 500px;
              height: 400px;
            "
          >
            <div
              class="card-body text-center bg-primary border-primary shadow-lg d-flex d-lg-flex flex-column justify-content-center align-items-center align-items-lg-center justify-content-xl-center align-items-xl-center"
              style="
                height: 40%;
                padding: 40px;
                padding-top: 40px;
                padding-right: 40px;
                padding-bottom: 0;
                padding-left: 40px;
                border-radius: 0px;
                border-color: rgb(255, 255, 255);
                border-bottom: 0px none rgb(1, 67, 137);
                background: rgb(0, 123, 255);
                width: 100%;
                text-align: center;
              "
            >
              <h1 class="text-white">10Athletes<br /></h1>
              <h5
                class="display-1 text-white-50 card-title mb-2"
                style="
                  padding-top: 0px;
                  color: rgb(243, 249, 255);
                  font-size: 12px;
                  margin: 0 auto;
                "
              >
                sports • people • community • growth<br />
              </h5>
              <p
                class="text-center d-md-flex d-lg-flex justify-content-md-center justify-content-lg-start"
                style="
                  padding-top: 0px;
                  color: rgb(242, 248, 255);
                  font-size: 14px;
                  width: 300px;
                  margin: 0 auto;
                  margin-top: 25px;
                  text-align: center;
                  margin-right: auto;
                  margin-bottom: 0;
                  margin-left: auto;
                "
              >
                A movement founded on community and <br />self-improvement with
                athletics and sports<br />
              </p>
              <form action="https://formspree.io/f/mpzkzevn"
  method="POST">
              <fieldset style="width: 100%; padding-top: 50px">
                <input
                  class="bg-white border rounded-0 border-white shadow-sm form-control-sm"
                  type="email"
                  placeholder="Email when launched"
                  style="
                    width: 75%;
                    padding: 0;
                    border-radius: 0px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    padding-top: 12px;
                    padding-bottom: 15px;
                    height: 50px;
                    padding-left: 15px;
                    border-bottom-left-radius: 4px;
                    border: 1px none rgb(255, 255, 255);
                    border-top-width: 0px;
                  "
                  name="subscribe_email"
                /><button
                  class="btn btn-success btn-sm shadow-sm"
                  type="submit"
                  style="
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border: 0px none var(--indigo);
                    border-top-width: 0px;
                    border-top-style: none;
                    border-bottom: 0px none var(--blue);
                    width: 25%;
                    height: 50px;
                  "
                >
                  Notify Me
                </button>
              </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
